<div class="container">
  <div class="row">

    <div class="col-md-12 text-center">
      <h1>Album photo</h1>
    </div>


    <div class="col-md-12">
      <div class="col-md-12">
        <h3>Album one - id {{album1[0]?.albumId}}</h3>
      </div>
      <div *ngFor="let photo of album1; index as i" class="col-md-4">
        <div *ngIf="i <= 2" class="album-1">
          <h4 class="wrap-text" [title]="photo.title">{{photo.title}}</h4>
          <img [src]="photo.url" class="img-responsieve photo">
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-12">
        <h3>Album two - id {{album2[0]?.albumId}}</h3>
      </div>
      <div *ngFor="let photo of album2; index as i" class="col-md-4">
        <div *ngIf="i <= 2" class="album-2">
          <h4 class="wrap-text" [title]="photo.title">{{photo.title}}</h4>
          <img [src]="photo.url" class="img-responsieve photo">
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-12">
        <h3>Album three - id {{album3[0]?.albumId}}</h3>
      </div>
      <div *ngFor="let photo of album3; index as i" class="col-md-4">
        <div *ngIf="i <= 2" class="album-3">
          <h4 class="wrap-text" [title]="photo.title">{{photo.title}}</h4>
          <img [src]="photo.url" class="img-responsieve photo">
        </div>
      </div>
    </div>
  </div>


</div>
